[submodule ".registry"]
	path = .registry
	url = https://github.com/hadesllm/hadesllm.r-universe.dev
	branch = HEAD
[submodule "moirais"]
	path = moirais
	url = https://github.com/hadesllm/moirais
	branch = main
	subdir = r-package/moirais
