[submodule ".registry"]
	path = .registry
	url = https://github.com/hadesllm/hadesllm.r-universe.dev
	branch = HEAD
[submodule "moirais"]
	path = moirais
	url = https://github.com/hadesllm/morie
	branch = main
	subdir = r-package/moirais
[submodule "morie"]
	path = morie
	url = https://github.com/hadesllm/morie
	branch = main
	subdir = r-package/morie
